{% extends "base.html" %}
{% block content %}

    <h3 class="text-brown lighten-1 center-align">Add Recipe</h3>
<!--category-->
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix text-brown lighten-1"></i>
					<select id="menu_category" name="menu_category" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in menu %}
                            <option value="{{ category.menu_category }}">{{ category.menu_category }}</option>
                        {% endfor %}
                    </select>
					<label for="menu_category">Menu Category</label>
				</div>
            </div>
<!--recipe name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix text-brown lighten-1"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
<!--recipe description-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix text-brown lighten-1"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>
<!--ingredients-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder prefix text-brown lighten-1"></i>
                    <textarea id="ingredients" name="ingredients" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>
<!--directions-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensils prefix text-brown lighten-1"></i>
                    <textarea id="directions" name="directions" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="directions">Directions</label>
                </div>
            </div>
<!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large brown text-brown lighten-1 text-shadow">
                            Add recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}