{% extends "base.html" %}
{% block content %}

<h3 class="text-brown lighten-1 center-align">All Recipes</h3>
<div class="container1">
    <div class="row">
        <div class="carousel text-brown center-align">
            <a class="carousel-item brown-text text-darken-4"
                href="#"><img src="static/images/Baklava%281%29.png"
                    alt="Baklava">Baklava</a><span class="large new badge brown"></span>
            <a class="carousel-item brown-text text-darken-4"
                href="#"><img src="static/images/Mussaka.jpg"
                    alt="Mousaka">Mousaka</a>
            <a class="carousel-item brown-text text-darken-4"
                href="#"><img
                    src="static/images/tave-kosi.jpg" alt="Tave kosi">Tave Kosi</a>
            <a class="carousel-item brown-text text-darken-4"
                href="#"><img src="static/images/tripe%20soup.jpg"
                    alt="Tripe soup">Tripe soup</a>
            <a class="carousel-item brown-text text-darken-4"
                href="#"><img
                    src="static/images/tullumba.jpg" alt="Tullumba">Tullumba</a>
            <a class="carousel-item brown-text text-darken-4"
                href="#"><img src="static/images/Ouzo.jpg"
                    alt="Ouzo">Ouzo</a>
        </div>
    </div>
</div>
{% for recipe in recipes %}
<section id="middle">
    <div class="container">
        <div class="row">
            <div class="middle_1">
                <h3>Traditional Recipes</h3>
                <div class=" content-top2">
                    <h4 class="text-center">O</h4>
                </div>
            </div>
            <div class="middle_2 clearfix">
                <div class="col-sm-4">
                    <div class="middle_3">
                        <h4>{{ recipe.recipe_name }}</h4>
                        {% if recipe.image %}
                            <a href="#"><img src="{{ url_for('static', filename='images/'+recipe.image) }}" alt="abc" class="responsive"></a>
                        {% endif %}
                        <h4><strong>{{ recipe.recipes_name }}</strong></h4>
                        <div class="col-sm-4">
                            {% if session.user|lower == recipe.created_by|lower %}
                            <a class="btn-small brown lighten-3"
                                href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                onclick="return myFunction()">Delete</a>
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                class="btn-small brown lighten-3">Edit</a>
                            {% endif %}
                        </div>
                        <ul class="collapsible">
                            <li>
                        <div class="collapsible-header  brown lighten-3 text-shadow">
                            <i class="fas fa-caret-down"></i>
                                <p><strong>{{ recipe.recipe_description }}</strong></p>
                            </div>

                            <div class="collapsible-body">
                                <p><strong>INGREDIENTS: {{ recipe.ingredients}}</strong></p>
                                <p><strong>DIRECTIONS :{{ recipe.directions}}</strong></p>
                                <p><em>By: {{ recipe.created_by }}</em></p>
                            </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<footer class="page-footer text-shadow  brown lighten-1">
    <div class="container">
      <div class="row">
        <div class="col m6 s12">
          <h5 class="white-text">Site Posts</h5>
          <p class="grey-text text-lighten-3">Balkan Flavours is a site about Balkan recipes and Balkan cuisine.
            I will post most delicious and most popular recipes from Balkan cuisine. </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contact Us</h5>
          <p class="grey-text text-lighten-3">Want to ask me something about my site or recipes? 
            Or you just want to clarify something more? Then feel free to contact me!</p>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/BalkanFoodRecipes/"><i class="material-icons">facebook</i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.google.com/gmail/about"><i class="material-icons">email</i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright center-align">
      <div class="container">
      © 2021 Copyright 
      </div>
    </div>
  </footer>
{% endblock %}