{% extends "base.html" %}
{% block content %}

  <h3 class="text-brown lighten-1 center-align">All Recipes</h3>

    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header white-text brown lighten-1 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    <a href="" class="btn-small brown lighten-4">Done</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small brown lighten-3">Edit</a>
                </div>
                <div class="col s9">
                    <strong>{{ recipe.recipe_name }}</strong>
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ recipe.recipes_name }}</strong>
                <p>{{ recipe.recipe_description }}</p>
                <p><em>By: {{ recipe.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}