{% extends "base.html" %}
{% block content %}

  <h3 class="text-brown lighten-1 center-align">All Recipes</h3>

    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header  brown text-brown lighten-1 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ recipe.recipe_name }}</strong> 
            </div>
            <div class="collapsible-body">
                <strong>{{ recipe.recipes_name }}</strong>
                <p>{{ recipe.recipe_description }}</p>
                <p><em>By: {{ recipe.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}